// Layout & wrappers
.wrapper {
    transition: all 0.4s ease;
    
	.page-content-wrapper {
		position: relative;
		margin: 0;
	} 
}//.wrapper


// Instant Click bar in header, color
#instantclick-bar {
	background: $accent;
}

// Top Bar
.top-bar {
	width: 100%;
    position: relative;
    padding: 15px;
    background: $gray;
    
    @include breakpoint(sm) { 
		 padding: 20px;
	}
	
}