// Template-Landing.php
body.page-template-template-landing {
  //for body & nav overrides within this template
}


.landing {

	.hero {
		position: relative;
		background: url('assets/img/hero.jpg') center center no-repeat;
		background-size: cover;
		height: 560px;
		text-align: center;
		overflow: hidden;
		color: white;
		z-index: 1000;
		
		.logo {
			display: block;
			text-align: center;
			margin: 100px auto 60px auto;
		}
		
		.lnr {
			color: $color1;
			font-size: 100px; //best if used in multiples of 20 (ex. 20px, 40px, 60px...)
		}
		
		.btn {
			margin: 40px auto;
		}

	}
	
	.section {
		position: relative;
		height: auto;
		text-align: center;
		&.skew-one:before { //right
	        content: '';
		    display: block;
		    position: absolute;
		    margin-top: -200px;
		    margin-right: -2000px;
		    z-index: 1001;
		    height: 0;
		    width: 0;
		    border-bottom: 0px solid rgba(0, 0, 0, 0);
		    border-top: 165px solid rgba(0, 0, 0, 0);
		    border-right: 5000px solid $color1;
		    height: 200px;		
		}
		&.skew-one {
			&:after { //right
		        content: '';
			    display: block;
			    position: absolute;
			    margin-right: -2000px;
			    z-index: 1001;
			    height: 0;
			    width: 0;
			    border-bottom: 165px solid rgba(0, 0, 0, 0);
			    border-top: 0px solid rgba(0, 0, 0, 0);
			    border-right: 5000px solid $color1;//color of container bg
			    height: 200px;		
			}
		}
		&.skew-two {
			&:after { //left
		        content: '';
			    display: block;
			    position: absolute;
			    margin-left: -2000px;
			    z-index: 1001;
			    height: 0;
			    width: 0;
			    border-bottom: 165px solid rgba(0, 0, 0, 0);
			    border-top: 0px solid rgba(0, 0, 0, 0);
			    border-left: 5000px solid $color2;//color of container bg		
			}
		}
		&.skew-three {
			&:after { //right
		        content: '';
			    display: block;
			    position: absolute;
			    margin-right: -2000px;
			    z-index: 1001;
			    height: 0;
			    width: 0;
			    border-bottom: 165px solid rgba(0, 0, 0, 0);
			    border-top: 0px solid rgba(0, 0, 0, 0);
			    border-right: 5000px solid $color3;//color of container bg
			    height: 200px;			
			}
		}
		&.skew-four {
			&:after { //left
		        content: '';
			    display: block;
			    position: absolute;
			    margin-left: -2000px;
			    z-index: 1001;
			    height: 0;
			    width: 0;
			    border-bottom: 165px solid rgba(0, 0, 0, 0);
			    border-top: 0px solid rgba(0, 0, 0, 0);
			    border-left: 5000px solid $color4;//color of container bg
			    height: 200px;			
			}
		}
		&.one {
			background-color: $color1;
		}
		&.two {
			background-color: $color2;
		}
		&.three {
			background-color: $color3;
		}
		&.four {
			background-color: $color4;
		}
		.landing-title {
			padding-top: 120px;
		}
	}
	
	
}//.landing


