// Template-Landing.php
body.page-template-template-landing {
  //for body & nav overrides within this template
}


.landing {

	.hero {
		background: $main;
		height: 500px;
		text-align: center;
		overflow: hidden;
		color: white;
		&.skew-left:after { //border-left
			content: '';
			display: block;
		    position: absolute;
		    top: 450px;
		    right: -2000px;
		    z-index: 1001;
		    height: 0;
		    width: 0;
		    border-top: 0px solid rgba(0, 0, 0, 0);
		    border-bottom: 200px solid rgba(0, 0, 0, 0);
		    border-left: 5000px solid $main;//same as background-color of element		
		}
		
		.logo {
			position: relative;
			display: block;
			text-align: center;
			margin: 100px auto 60px auto;
			z-index: 1002;
		}
		
		.lnr {
			color: $color1;
			font-size: 100px; //best if used in multiples of 20 (ex. 20px, 40px, 60px...)
		}
		
		.btn {
			margin: 40px auto;
		}

	}
	
	.section {
		position: relative;
		height: 150px;
		text-align: center;
		&.skew-left:after { //border-left
			content: '';
			display: block;
		    position: absolute;
		    top: 90px;
		    right: -2000px;
		    z-index: 1001;
		    height: 0;
		    width: 0;
		    border-top: 0px solid rgba(0, 0, 0, 0);
		    border-bottom: 200px solid rgba(0, 0, 0, 0);
		    border-left: 5000px solid $gray;//same as background-color of element		
		}
		&.one {
			background: $color4;
			&.skew-left:after {
				border-left-color: $color4;//same as background-color of element
			}
		}
		&.two {
			background: $color3;
			&.skew-left:after {
				border-left-color: $color3;//same as background-color of element
			}
		}
		&.three {
			background: $color2;
			&.skew-left:after {
				border-left-color: $color2;//same as background-color of element
			}
		}
		&.four {
			background: $color1;
			&.skew-left:after {
				border-left-color: $color1;//same as background-color of element
			}
		}
	}
	
	.content {
		position: relative;
		margin-top: 0;
	    padding-top: 85px;
	    z-index: 1002;
	}
	
	.section-3 {
    	position: relative;
		margin-top: 40px;
		padding-top: 100px;
		height: auto;
		background: $white;
		text-align: center;
		z-index: 1000;
    	&.skew-left:after { //border-left
			content: '';
			display: block;
		    position: absolute;
		    left: -2000px;
		    z-index: -1;
		    height: 0;
		    width: 0;
		    border-top: 200px solid rgba(0, 0, 0, 0);
		    border-bottom: 0px solid rgba(0, 0, 0, 0);
		    border-left: 5000px solid $white;//same as background-color of element		
		}
	}
	
	.section-4 {
		position: relative;
		margin-top: 40px;
		padding-top: 100px;
		height: auto;
		background: $color3;
		text-align: center;
		z-index: 1000;
	}
	
}//.landing


