// Main.scss: Table of contents 

// Variables

// Brand Colors
$main: #1B2E42;
$accent: #5092D8;

// Others
$black: #323538;
$gray: #ccc;
$lightgray: #f7f7f7;
$lime: #84bd00;
$white: #f9f9f9;

$color1: #00A1D2;
$color2: #8C5EC7;
$color3: #BB5483;
$color4: #E0E499;

// Mixins
@mixin breakpoint($point) { //media query breakpoint; for usage within layout stylesheet
  @if $point == xl {
    @media (min-width: 1600px) { @content; } //"xl" = above 1600
  }
  @else if $point == sm {
    @media (min-width: 768px)  { @content; } //"sm" = above 768
  }
  @else if $point == xs {
    @media (max-width: 768px)  { @content; } // "xs" = below 768
  }
  @else if $point == xxs {
    @media (max-width: 480px)  { @content; } // "xxs" = below 480
  }
}

// Typography
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');

$heading: 'Oswald', serif, Helvetica;
$body: 'Roboto', Verdana, Arial;

// Vendor
@import "normalize";
@import "bootstrap";
@import "linearicons"; //linearicons.com/free#cheat-sheet

// Layout
@import "base";
@import "layout";
@import "templates";
